body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

form input[type="text"] {
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ders-card {
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

.soru-grup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.ders-card input {
    width: 30px;
    text-align: center;
}

.Turkce { background-color: #fce4ec; }
.Matematik { background-color: #e3f2fd; }
.Fen { background-color: #e8f5e9; }
.Inkilap { background-color: #fff3e0; }
.Din { background-color: #ede7f6; }
.Ingilizce { background-color: #f3e5f5; }
